<!DOCTYPE html>
<html lang="en">
	<head>

        {% include 'Modules/CoreModule/Controllers/templates/abstract/parts/favicons.twig' %}

        {% include 'Modules/CoreModule/Controllers/templates/abstract/parts/head-assets.twig' %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Logs viewer</title>

	</head>
	<body>

		{% include 'Modules/CoreModule/Controllers/templates/abstract/parts/header.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

        {% include 'Modules/CoreModule/Controllers/templates/abstract/parts/footer.twig' %}

        {% include 'Modules/CoreModule/Controllers/templates/abstract/parts/footer-assets.twig' %}

		{% block footerAssets %}{% endblock %}

	</body>
</html>