<header class="text-center my-5">
    <h1>
        <img src="/assets/images/logo.png" alt="" class="align-middle">
        <span class="align-middle">Logs Viewer</span>
    </h1>
    <div class="d-inline-block mark">
        <span class="align-middle font-size-18">
            <i class="fa fa-file"></i>
            <span>Logs count:</span>
            <strong>{{ logFilesCount }}</strong>
        </span>
        |
        <span class="align-middle">
            <i class="fa fa-tachometer-alt"></i>
            <span>Logs size:</span>
            <strong>{{ logsSize }} MB</strong>
        </span>
    </div>
</header>
