<footer class="d-flex justify-content-center border-top mt-5 p-5">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <a href="https://github.com/apicart/logs-viewer" target="_blank" rel="noopener" class="mr-2">Logs Viewer</a>
    |
    <span class="align-middle mx-2">
        &copy; 2018-{{ "now"|date("Y") }}
        <a href="https://apicart.net" target="_blank" rel="noopener">Apicart</a>
    </span>
    |
    <div class="d-inline-block mx-2">
        <a class="github-button" href="https://github.com/apicart/logs-viewer" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star apicart/logs-viewer on GitHub">Star</a>
    </div>
    |
    <div class="ml-2">
        <a class="github-button" href="https://github.com/apicart/logs-viewer/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue apicart/logs-viewer on GitHub">Issue</a>
    </div>
</footer>
